@font-face {
    font-family: 'AauxNext';
    src: font-url('32202F_1_0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }
  
  @font-face {
    font-family: 'AauxNext';
    src: font-url('3285B4_0_0.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
  }
  
  @font-face {
    font-family: 'AauxNext';
    src: font-url('2202F_0_0.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
    font-display: auto;
  }